<section id="main" class="content-main" style="opacity: 1;"><header>
	<h2 class="head">PEMPLUM</h2>
</header>
<article class="more-info-content">
	<p>PEMPLUM es una de las principales empresas de moda internacional. Pertenece a <a href="http://www.inditex.com" class="underline gaTag gaVirtualPage gaOutBound gaModal" gaprops="{events:'click',  data:'Inditex'}">Inditex</a>, uno de los mayores grupos de distribución del mundo.</p>
	<p>El cliente es el centro de nuestro particular modelo de negocio, que integra diseño, fabricación, distribución y venta, a través de una amplia red de tiendas propia.</p>
	<p>Más información en la web corporativa del grupo Inditex: <a href="http://www.inditex.com" class="underline gaTag gaVirtualPage gaOutBound gaModal" gaprops="{events:'click',  data:'Inditex'}">www.inditex.com</a></p>
</article></section>
