<section id="main" class="content-main" style="opacity: 1;"><header>
	<h2 class="head">El Compromiso de PEMPLUM</h2>
</header>
<article class="more-info-content">
	<h3 class="header-section">Política medioambiental</h3>
	<p>A través de su modelo de negocio, Zara quiere ayudar al desarrollo sostenible de la sociedad y el entorno con el que interactúa.El compromiso con el Medioambiente se incluye dentro de la política de Responsabilidad Corporativa del grupo Inditex, publicada en la página web: www.inditex.com.</p>
	<p>Estos son algunos de los objetivos y acciones desarrolladas en el marco del compromiso medioambiental, directamente asociadas a las tiendas y al cliente:</p>
	<h4>EN LA TIENDA</h4>
	<ul class="sublist-dashed">
		<li>Ahorramos energía.</li>
		<li>La tienda ecoeficiente.</li>
		<li>Reducimos la producción de residuos y reciclamos.</li>
		<li>Compartimos el compromiso con toda la plantilla.</li>
		<li>Un equipo sensibilizado.</li>
	</ul>
	<p>
		<strong>Ahorramos energía. La tienda ecoeficiente.</strong>
		<br>
		Estamos desarrollando un modelo de gestión ‘ecoeficiente’ de las tiendas que permitirá reducir el consumo energético en un 20%, integrando criterios de sostenibilidad y eficiencia. Este modelo de gestión propone medidas en todos los procesos, desde el diseño de la propia tienda, las instalaciones de sistemas de iluminación, calefacción o refrigeración, al posible reciclaje del mobiliario y decoración.</p>
	<p>
		<strong>Reducimos la producción de residuos y reciclamos.</strong> El reciclaje de las perchas o de las alarmas, que son recogidas en las tiendas y procesadas para convertirse en otros elementos plásticos, son un ejemplo de la gestión de residuos. Millones de perchas y alarmas son procesadas cada año. Además, tanto el cartón como el plástico utilizados en los embalajes son reciclados.</p>
	<p>
		<strong>Compartimos el compromiso con toda la plantilla. Un equipo sensibilizado.</strong>
		<br>
		Campañas de comunicación interna y planes específicos de formación multimedia para sensibilizar a los empleados en las prácticas sostenibles como racionalizar el consumo de energía, practicar el transporte sostenible o modificar hábitos de conducta. </p>
	<h4>CON EL PRODUCTO </h4>
	<ul class="sublist-dashed">
		<li>Incorporamos tejidos ecológicos.</li>
		<li>El algodón orgánico.</li>
	</ul>
	<p>
		<strong>Incorporamos tejidos ecológicos. El algodón orgánico.</strong>
		<br>
		Zara apoya la agricultura ecológica y utiliza en la confección de prendas seleccionadas algodón orgánico (algodón 100%, totalmente libres de pesticidas, agentes químicos y blanqueantes). Encontrarlas en la tienda será fácil, ya que llevan una etiqueta distintiva. </p>
	<h4>EN EL TRANSPORTE</h4>
	<p>
		<strong>Introducimos combustible biodiesel.</strong>
		<br>
		La flota de camiones de Zara, que transporta cada año más de 200 millones de prendas, utiliza el 5% de combustible biodiesel. Esta medida permite reducir las emisiones de más de 500 toneladas de CO2 a la atmósfera. 
	</p>
	<h3 class="header-section">Política de Trato a los Animales</h3>
	<p>Zara aplica a todos sus productos el <a href="http://www.inditex.com/en/sustainability/product/products_animal_origin" target="_blank" class="underline">estándar del Grupo Inditex</a> en relación con cualquier material de origen animal. Esta política establece que tales productos proceden en todos los casos de animales tratados de forma ética y responsable. Bajo ninguna circunstancia se utilizan productos de origen animal que provengan de animales sacrificados exclusivamente para comercializar sus pieles, conchas, astas, huesos, pluma, plumón o cualquier otro material. </p>
	<p>Zara no comercializa piel de pelo animal, de acuerdo con los principios del Fur Free Retailer Program (Fur Free Alliance) del que forma parte el Grupo Inditex.</p>
	<p>Ni los productos cosméticos comercializados por Zara ni sus ingredientes han sido testados en animales.</p>
</article></section>